@import url(Root.css);
.customer-review{
    padding: 10px 20px;
}

.review-layout{
    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
        vertical-align: middle;
        left: 0;
    }

    p{
        text-align: justify;
    }
}

