:root{
    --background-color: #fff;
    --primary-color: #ec720e;
    --secondary-color: white;
    --primary-text-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html{
    margin: 0;
    /* width: 100vw; */
}

body{
    /* margin: 5px; */
    /* width: 100vw; */
    /* overflow: hidden; */
    width: 100vw;
    margin: auto; 
    overflow-x: hidden;  
}

html, body{
    height: 100%;
}
